# Problem statement
Find and print the minimum, maximum and average value of the feature for each kind of flower ?

*Note*: Get the dataset from here

## Problem statement
Print the value with two decimal places.

*Note*: Order for flower is Iris-setosa, Iris-versicolor and Iris-virginica.

## Output Format

```
minSL minSW minPL minPW Iris-setosa
maxSL maxSW maxPL maxPW Iris-setosa
avgSL avgSW avgPL avgPW Iris-setosa
. . .
. . .
. . .
```

In [46]:
import pandas as pd
data = pd.read_csv("/Users/manshusharma/Documents/Personal/Data-Science-Machine-Learning/Datasets/iris.csv")

In [47]:
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [49]:
result = data.groupby('variety').agg({
    'sepal.length': ['min', 'max', 'mean'],
    'sepal.width': ['min', 'max', 'mean'],
    'petal.length': ['min', 'max', 'mean'],
    'petal.width': ['min', 'max', 'mean']
})

print(result.round(2))

           sepal.length             sepal.width             petal.length       \
                    min  max   mean         min  max   mean          min  max
variety
Setosa              4.3  5.8  5.006         2.3  4.4  3.428          1.0  1.9
Versicolor          4.9  7.0  5.936         2.0  3.4  2.770          3.0  5.1
Virginica           4.9  7.9  6.588         2.2  3.8  2.974          4.5  6.9

                  petal.width
             mean         min  max   mean
variety
Setosa      1.462         0.1  0.6  0.246
Versicolor  4.260         1.0  1.8  1.326
Virginica   5.552         1.4  2.5  2.026