Functions are independent blocks of code that can be called from anywhere, while methods are tied to objects or classes and need an object or class instance to be invoked.

## Numpy Functions
- np.array() DONE
- np.ones() DONE
- np.zeros() DONE
- np.full() DONE
- np.empty() DONE
- np.arange() DONE
- np.linespace() DONE
- np.identity() DONE
- np.eye() DONE
- np.random.rand() DONE
- np.random.randint() DONE
- np.where() DONE
- np.nonzero()
- np.argmax()
- np.sort()
- np.argsort()
- np.transpose()
- np.reshape()
- np.resize()
- np.loattxt()

### np.array()
- Used to create/convert list to np array
- If list is included with chars,float number and integers then numpy will convert all elements to chars
- char '5.5' can be directly converted to float  but cannot directly converted to integer. <b>Check example 5</b>
- We can convert each elemnets to another type(int,float,str) using `dtype=TYPE` parameter. <b>Check example 3 & 4</b>
- We can also use operator to perform certain operation while creating numpy arr. <b>Check example 6</b>

In [1]:
# example 1
import numpy as np
a=[1,2,3,4,5,6]
nparr=np.array(a)
nparr

array([1, 2, 3, 4, 5, 6])

In [2]:
# example 2
import numpy as np
a=[1,2,3,4,5,6,'a','b']
nparr=np.array(a)
nparr

array(['1', '2', '3', '4', '5', '6', 'a', 'b'], dtype='<U21')

In [3]:
# example 3
import numpy as np
a=[1,2,3,4,5,6,7.0,8.1]
nparr=np.array(a, dtype=int)
nparr

array([1, 2, 3, 4, 5, 6, 7, 8])

In [4]:
# example 4
import numpy as np
arr=[1,2,3,4,'5','6']
nparr=np.array(arr,dtype=int)
nparr

array([1, 2, 3, 4, 5, 6])

In [5]:
# example 5
import numpy as np
arr=[1,2,3,4,'5.5','6']
nparr=np.array(arr,dtype=float)
nparr

array([1. , 2. , 3. , 4. , 5.5, 6. ])

In [6]:
# example 6
import numpy as np
a=[1,2,3,4,5,6]
arr=np.array(a*3)
arr

array([1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6])

### np.ones()
- Returns an arr of ones
- Every element is floating point type.
- We. can use `dtype=TYPE` to change the default type (float to int). <b>Check example 2</b>
- We can also create 2 dimentional arrays. <b>Check example 3</b>

In [7]:
# example 1
import numpy as np
arr=np.ones(3)
arr

array([1., 1., 1.])

In [8]:
# example 2
import numpy as np
arr=np.ones(3, dtype=int)
arr

array([1, 1, 1])

In [9]:
# example 3
import numpy as np
arr=np.ones((3,3))
arr

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

### np.zeros()
- Returns an arr of zeros
- Every element is floating point type.
- We. can use `dtype=TYPE` to change the default type (float to int). <b>Check example 2</b>
- We can also create 2 dimentional arrays. <b>Check example 3</b>

In [10]:
# example 1
import numpy as np
arr=np.zeros(4)
arr

array([0., 0., 0., 0.])

In [11]:
# example 2
import numpy as np
arr=np.zeros(4,dtype=int)
arr

array([0, 0, 0, 0])

In [12]:
# example 3
import numpy as np
arr=np.zeros((3,3))
arr

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

### np.full()
- Create an array of required size with same element
- We can create 2 dimention array with same value. <b>Check example 2</b>
- The return type is integer.

In [13]:
# example 1
import numpy as np
arr = np.full(3,4)
arr

array([4, 4, 4])

In [14]:
# example 2
import numpy as np
arr = np.full((3,3),4)
arr

array([[4, 4, 4],
       [4, 4, 4],
       [4, 4, 4]])

In [15]:
# example 2
import numpy as np
arr = np.full((3,3),4, dtype=float)
arr

array([[4., 4., 4.],
       [4., 4., 4.],
       [4., 4., 4.]])

### np.empty()
- Return a new array of given shape (1D, 2D) and type, with random values.
- Syntax: `numpy.empty(shape, dtype = float, order = ‘C’)`
- Referece: https://www.geeksforgeeks.org/numpy-empty-python/

In [16]:
# example 1
import numpy as np
np.empty(3)

array([1., 1., 1.])

In [17]:
# example 2
import numpy as np
arr = np.empty((4,4),dtype=int)
arr

array([[ 0, 79,  0,  0],
       [ 0,  0,  0,  0],
       [ 0,  0,  0,  0],
       [ 0,  0,  0,  0]])

### np.arange()
- Returns an array with evenly spaced elements as per the interval. The interval mentioned is half-opened i.e. `[Start, Stop]`
- Parameters:
    - start : [optional] start of interval range. By default start = 0
    - stop  : end of interval range
    - step  : [optional] step size of interval. By default step size = 1,  
    - dtype : type of output array

- Reference: https://www.geeksforgeeks.org/numpy-arrange-in-python/

In [18]:
# example 1
import numpy as np
arr = np.arange(2,500,2)
arr

array([  2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24,  26,
        28,  30,  32,  34,  36,  38,  40,  42,  44,  46,  48,  50,  52,
        54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,  76,  78,
        80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 100, 102, 104,
       106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130,
       132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156,
       158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182,
       184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208,
       210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234,
       236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260,
       262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286,
       288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312,
       314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338,
       340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364,
       366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390,
       392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416,
       418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442,
       444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468,
       470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494,
       496, 498])

In [19]:
# example 2
import numpy as np
arr = np.arange(2,500,2, dtype=float)
arr

array([  2.,   4.,   6.,   8.,  10.,  12.,  14.,  16.,  18.,  20.,  22.,
        24.,  26.,  28.,  30.,  32.,  34.,  36.,  38.,  40.,  42.,  44.,
        46.,  48.,  50.,  52.,  54.,  56.,  58.,  60.,  62.,  64.,  66.,
        68.,  70.,  72.,  74.,  76.,  78.,  80.,  82.,  84.,  86.,  88.,
        90.,  92.,  94.,  96.,  98., 100., 102., 104., 106., 108., 110.,
       112., 114., 116., 118., 120., 122., 124., 126., 128., 130., 132.,
       134., 136., 138., 140., 142., 144., 146., 148., 150., 152., 154.,
       156., 158., 160., 162., 164., 166., 168., 170., 172., 174., 176.,
       178., 180., 182., 184., 186., 188., 190., 192., 194., 196., 198.,
       200., 202., 204., 206., 208., 210., 212., 214., 216., 218., 220.,
       222., 224., 226., 228., 230., 232., 234., 236., 238., 240., 242.,
       244., 246., 248., 250., 252., 254., 256., 258., 260., 262., 264.,
       266., 268., 270., 272., 274., 276., 278., 280., 282., 284., 286.,
       288., 290., 292., 294., 296., 298., 300., 302., 304., 306., 308.,
       310., 312., 314., 316., 318., 320., 322., 324., 326., 328., 330.,
       332., 334., 336., 338., 340., 342., 344., 346., 348., 350., 352.,
       354., 356., 358., 360., 362., 364., 366., 368., 370., 372., 374.,
       376., 378., 380., 382., 384., 386., 388., 390., 392., 394., 396.,
       398., 400., 402., 404., 406., 408., 410., 412., 414., 416., 418.,
       420., 422., 424., 426., 428., 430., 432., 434., 436., 438., 440.,
       442., 444., 446., 448., 450., 452., 454., 456., 458., 460., 462.,
       464., 466., 468., 470., 472., 474., 476., 478., 480., 482., 484.,
       486., 488., 490., 492., 494., 496., 498.])

### np.linspace()

- The `numpy.linspace()` function returns number spaces evenly w.r.t interval. 
- Similar to numpy.arange() function but instead of step it uses sample number.
```
numpy.linspace(start,
               stop,
               num = 50,
               endpoint = True,
               retstep = False,
               dtype = None)
```
- Parameter

```
-> start    : [optional] start of interval range. By default start = 0
-> stop     : end of interval range
-> restep   : If True, return (samples, step). By default restep = False
-> num      : [int, optional] No. of samples to generate
-> endpoint :
-> dtype    : type of output array
```

- Reference: https://www.geeksforgeeks.org/numpy-linspace-python/

In [20]:
# example 1
import numpy as np
arr = np.linspace(1,10, 50)
arr

array([ 1.        ,  1.18367347,  1.36734694,  1.55102041,  1.73469388,
        1.91836735,  2.10204082,  2.28571429,  2.46938776,  2.65306122,
        2.83673469,  3.02040816,  3.20408163,  3.3877551 ,  3.57142857,
        3.75510204,  3.93877551,  4.12244898,  4.30612245,  4.48979592,
        4.67346939,  4.85714286,  5.04081633,  5.2244898 ,  5.40816327,
        5.59183673,  5.7755102 ,  5.95918367,  6.14285714,  6.32653061,
        6.51020408,  6.69387755,  6.87755102,  7.06122449,  7.24489796,
        7.42857143,  7.6122449 ,  7.79591837,  7.97959184,  8.16326531,
        8.34693878,  8.53061224,  8.71428571,  8.89795918,  9.08163265,
        9.26530612,  9.44897959,  9.63265306,  9.81632653, 10.        ])

In [21]:
# example 2
import numpy as np
arr = np.linspace(1,10, 50,dtype=float,endpoint=False)
arr

array([1.  , 1.18, 1.36, 1.54, 1.72, 1.9 , 2.08, 2.26, 2.44, 2.62, 2.8 ,
       2.98, 3.16, 3.34, 3.52, 3.7 , 3.88, 4.06, 4.24, 4.42, 4.6 , 4.78,
       4.96, 5.14, 5.32, 5.5 , 5.68, 5.86, 6.04, 6.22, 6.4 , 6.58, 6.76,
       6.94, 7.12, 7.3 , 7.48, 7.66, 7.84, 8.02, 8.2 , 8.38, 8.56, 8.74,
       8.92, 9.1 , 9.28, 9.46, 9.64, 9.82])

### np.identity()
- Use to create identity matrix of zero and one.
- Dimentions (x,y) should be same

In [26]:
# example 1
import numpy as np
arr = np.identity(3)
arr

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

### np.eye()
- Dimentions (x,y) could be diffrent
- The eye tool returns a 2-D array with  1’s as the diagonal and  0’s elsewhere. The diagonal can be main, upper, or lower depending on the optional parameter k. A positive k is for the upper diagonal, a negative k is for the lower, and a  0 k (default) is for the main diagonal.
- Syntax: `numpy.eye(R, C = None, k = 0, dtype = type <‘float’>)`
- Prameters:
    - R : Number of rows
    - C : [optional] Number of columns; By default C = R
    - k : [int, optional, 0 by default] Diagonal we require; k>0 means diagonal above main diagonal or vice versa.
    - dtype : [optional, float(by Default)] Data type of returned array.
    
- Reference: https://www.geeksforgeeks.org/numpy-eye-python/?ref=lbp

In [31]:
import numpy as np
arr =np.eye(4,10)
arr

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.]])

### np.random.rand()
- Function creates an array of specified shape and fills it with random values.
- Syntax: `numpy.random.rand(d0, d1, ..., dn)`
- Parameters: 
```
d0, d1, ..., dn : [int, optional]Dimension of the returned array we require, 
     If no argument is given a single Python float is returned.
```
Reference: https://www.geeksforgeeks.org/numpy-random-rand-python/

In [35]:
import numpy as np
arr = np.random.rand(2,2)
arr

array([[0.43969255, 0.67192656],
       [0.45561937, 0.24477299]])

### np.random.randint()
- One of the function for doing random sampling in numpy. It returns an array of specified shape and fills it with random integers from low (inclusive) to high (exclusive), i.e. in the interval `[low, high)`.
- Syntax : `numpy.random.randint(low, high=None, size=None, dtype=’l’)`
- Parameters :
    - low : [int] Lowest (signed) integer to be drawn from the distribution.But, it works as a highest integer in the sample if high=None.
    - high : [int, optional] Largest (signed) integer to be drawn from the distribution.
    - size : [int or tuple of ints, optional] Output shape. If the given shape is, e.g., (m, n, k), then m * n * k samples are drawn. Default is None, in which case a single value is returned.
    - dtype : [optional] Desired output

- Return: Array of random integers in the interval `[low, high]` or a single such random int if size not provided.

- Reference: https://www.geeksforgeeks.org/random-sampling-in-numpy-randint-function/

In [43]:
import numpy as np
arr=np.random.randint(0,10,10)
arr

array([3, 4, 1, 2, 6, 4, 0, 9, 7, 5])

### np.where()

In [129]:
import numpy as np
arr=np.random.randint(0,1000,15)
index=np.where(arr>25)
print("elements", arr)
print("index   ",index[0])

elements [874 176 189 475 820 681  34 482 278 806 844 364 384 900 510]
index    [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]

## Common attributes for an array
- np.shape
- np.data
- np.dtype
- np.strides

### np.shape()

In [79]:
import numpy as np
arr1=np.random.rand(4)
arr2=np.random.rand(4,4)
print("arr1:", arr1)
print("arr2:", arr2)

arr1: [0.13823024 0.59374455 0.45816401 0.1561494 ]
arr2: [[0.22730656 0.36584991 0.69615102 0.97254121]
 [0.01544183 0.30539623 0.17340093 0.69616615]
 [0.07137422 0.16673836 0.36601937 0.9257789 ]
 [0.9051591  0.62157733 0.38674476 0.37265501]]

In [80]:
print(np.shape(arr1))
print(np.shape(arr2))

(4,)
(4, 4)

### np.data()

In [81]:
import numpy as np
arr1=np.random.rand(4)
arr2=np.random.rand(4,4)
print("arr1:", arr1)
print("arr2:", arr2)

arr1: [0.84605889 0.85754591 0.10158    0.37794618]
arr2: [[0.30645317 0.96143505 0.28342306 0.81644496]
 [0.14258646 0.85795474 0.77023131 0.26439779]
 [0.61035312 0.23104991 0.35580669 0.87742068]
 [0.22215481 0.45562748 0.94822309 0.97947649]]

In [82]:
print(arr1.data)
print(arr2.data)

<memory at 0x10a341f00>
<memory at 0x10a3adbe0>

### np.dtype()

In [83]:
import numpy as np
arr1=np.random.rand(4)
arr2=np.random.rand(4,4)
print("arr1:", arr1)
print("arr2:", arr2)

arr1: [0.29880049 0.60907846 0.65096557 0.4199333 ]
arr2: [[0.0396409  0.86774924 0.24286993 0.33010385]
 [0.34198239 0.0136919  0.5923558  0.34728046]
 [0.02033211 0.50271584 0.92429044 0.66985043]
 [0.78598806 0.60585962 0.77399146 0.12381012]]

In [84]:
print(arr1.dtype)
print(arr2.dtype)

float64
float64

### np.strides()

In [85]:
import numpy as np
arr1=np.random.rand(4)
arr2=np.random.rand(4,4)
print("arr1:", arr1)
print("arr2:", arr2)

arr1: [0.44055617 0.05823191 0.65895136 0.45506259]
arr2: [[0.32970379 0.54986123 0.48561525 0.29339948]
 [0.90206711 0.05091621 0.06266967 0.58819686]
 [0.75123467 0.64895902 0.40123419 0.00800398]
 [0.70200806 0.93343441 0.79630683 0.87614456]]

In [86]:
print(arr1.strides)
print(arr2.strides)

(8,)
(32, 8)

## Mathamatical Operational Methods
- a.mean()
- a.sum()
- a.min()
- a.max()
- a.argmin()
- a.argmax()

Note: numpy support operators also <b>Check example 2,3</b>

In [93]:
import numpy as np
arr=np.random.randint(0,10,10)
arr

array([2, 6, 5, 5, 8, 1, 1, 1, 4, 9])

In [99]:
# example 1
print(arr.mean())
print(arr.sum())
print(arr.min())
print(arr.max())
print(arr.argmin())
print(arr.argmax())

4.2
42
1
9
5
9

In [105]:
# example 2
# Performing mathematical operations using operators
res=arr+1
print(res)
res=arr-1
print(res)
res=arr*2
print(res)
res=arr**2
print(res)

[ 3  7  6  6  9  2  2  2  5 10]
[1 5 4 4 7 0 0 0 3 8]
[ 4 12 10 10 16  2  2  2  8 18]
[ 4 36 25 25 64  1  1  1 16 81]

In [108]:
# example 3
# Performing comperation operations using operators
res1=arr+2
res2=arr+4
print(res1>res2)
print(res1==res2)
print(res1<res2)

[False False False False False False False False False False]
[False False False False False False False False False False]
[ True  True  True  True  True  True  True  True  True  True]

## Logical Operational Methods

In [118]:
# example 1
# Performing comperation operations using operators
import numpy as np
arr=np.random.randint(0,10,50)
res1=arr+2
res2=arr+4
print(np.logical_or(res1,res2))
print(np.logical_and(res1,res2))
print(np.logical_not(res1))

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True]
[False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False]